{{ form_start(form) }}
{#    {{ form_widget(form.designation) }}#}
    <div class="form-group">
        <label for="">Designation *</label>
        {{ form_widget(form.designation, {'attr': {'class':'form-control'}}) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
