{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-gradient-dark">
                    <h3 class="card-title mb-0">Historique des envois</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Par</th>
                            <th>Expéditeur</th>
                            <th>Numéro</th>
                            <th>Message</th>
                            <th>Ticket</th>
                            <th>Réponse</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set counter = 0 %}
                        {% for historique in historiques %}
                            {% set counter = counter + 1 %}
                            <tr>
                                <td>{{ counter }}</td>
                                <td>{{ historique.date | format_datetime() }}</td>
                                <td>
                                    {% if historique.user %}
                                        {{ historique.user.username }}
                                    {% else %}
                                        <em class="text-muted">Utilisateur supprimé</em>
                                    {% endif %}
                                </td>
                                <td>{{ historique.sender }}</td>
                                <td>{{ historique.numero | replace({'%2b': '+'}) }}</td>
                                <td>{{ historique.message | replace({'+': ' '}) }}</td>
                                <td>
                                    {% if historique.ticket == 0 %}
                                        <span class="badge badge-success">OK</span>
                                    {% else %}
                                        <span class="badge badge-danger">{{ historique.ticket }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ historique.reponse }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8" class="text-center text-muted">Aucun historique disponible</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
