{% extends 'base.html.twig' %}

{% block title %}Liste des Organisations{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-gradient-dark">
                    <h3>Mes Organisations</h3>
                </div>
                <div class="card-body">
                    <table class="table datatable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Designation</th>
                    <th>Rccm</th>
                    <th>Idnat</th>
                    <th>Adresse</th>
                    <th>Expediteur</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% set counter = 0 %}
                {% for organisation in organisations %}
                    {% set counter = counter + 1 %}

                    <tr>
                        <td>{{ organisation.id }}</td>
                        <td>{{ organisation.designation }}</td>
                        <td>{{ organisation.rccm }}</td>
                        <td>{{ organisation.idnat }}</td>
                        <td>{{ organisation.adresse }}</td>
                        <td>
                            {% if organisation.isApproved %}
                            <span class="text-success">Approuvé</span>
                            {% else %}
                                <span class="text-info">Attente</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{ path('app_organisation_show', {'id': organisation.id}) }}">Details</a>
                            <a class="btn btn-primary btn-sm" href="{{ path('app_organisation_edit', {'id': organisation.id}) }}">Modifier</a>
                            {% if is_granted("ROLE_ADMIN") %}
                                {% if organisation.isApproved %}
                                    <a class="btn btn-sm btn-outline-danger" href="{{ path('app_organisation_disapprove', {'id': organisation.id}) }}">Désapprouver</a>
                                {% else %}
                                    <a class="btn btn-sm btn-success" href="{{ path('app_organisation_approve', {'id': organisation.id}) }}">Approuver</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucune organisation à afficher</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="{{ path('app_organisation_new') }}">Ajouter Organisation</a>
                </div>
    </div>
</div>
    </div>
</div>



{% endblock %}
